@import './assets/bootstrap/css/bootstrap.min.css';

*{
  color:#eee;
}

textarea { 
  resize: none; 
}

.tools-box {
  background-color:#fff5;
}

.resume-photo {
  border:2px;
  border-color:#aaa;
  border-style: solid;
  width: 200px;
}

body {
  background-color:#000;
}

footer {
  height:50px;
  background-color:#000;
}

.header {
  background-image: url('./assets/images/bg3blur.png');
  height: 100vh;
}

.tools {
  background-image: url('./assets/images/bg5blur.png');
}

.contact {
  background-image: url('./assets/images/bg4blur.png');
}

.header,.tools,.contact {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 30px 8px rgba(65, 63, 63, 0.75);
  box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.75);
}

.resume, .portfolio, .footer {
  color:#ddd;
  background-color:#000;
}
