@import './assets/bootstrap/css/bootstrap.min.css';

*{
  color:#eee;
}

body {
  background-color:#000;
}

div.header-upper-space {
  height: 30vh;
}
footer {
  height:50px;
  background-color:#000;
}

.header {
  background-image: url('./assets/images/bg3blur.png');
  height: 100vh;
}

.tools {
  background-image: url('./assets/images/bg5blur.png');
}

.contact {
  background-image: url('./assets/images/bg4blur.png');
}

.header,.tools,.contact {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.resume, .portfolio, .footer {
  color:#ddd;
  background-color:#000;
}
